http:
  routers:
    admin-api-router:
      rule: "Host(`cp.localhost`) && PathPrefix(`/admin/api`)"
      entryPoints:
        - websecure
      service: cp-service
      middlewares:
        - cp-client-header
        - admin-api-strip
      priority: 200
      tls: {}
    admin-ws-router:
      rule: "Host(`cp.localhost`) && PathPrefix(`/admin/wsxpory`)"
      entryPoints:
        - websecure
      service: cp-service
      middlewares:
        - cp-client-header
        - admin-ws-strip
      priority: 210
      tls: {}
    admin-ui-router:
      rule: "Host(`cp.localhost`) && PathPrefix(`/admin`)"
      entryPoints:
        - websecure
      service: admin-ui-service
      priority: 100
      tls: {}
    cp-jwks-router:
      rule: "Host(`cp-jwks.localhost`) && Path(`/.well-known/jwks.json`)"
      entryPoints:
        - websecure
      service: cp-service
      priority: 100
      tls: {}
    cp-router:
      rule: "Host(`cp.localhost`)"
      entryPoints:
        - websecure
      service: cp-service
      middlewares:
        - cp-client-header
      tls: {}
    wl-importer-router:
      rule: "Host(`wl-importer.localhost`)"
      entryPoints:
        - websecure
      service: wl-importer-service
      tls: {}
    wl-exporter-router:
      rule: "Host(`wl-exporter.localhost`)"
      entryPoints:
        - websecure
      service: wl-exporter-service
      tls: {}

  services:
    cp-service:
      loadBalancer:
        serversTransport: cp-mtls
        servers:
          - url: "https://host.docker.internal:8080"
    admin-ui-service:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:8082"
    wl-importer-service:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:8090"
    wl-exporter-service:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:8081"

  middlewares:
    cp-client-header:
      headers:
        customRequestHeaders:
          X-Client-Id: "proxy-mtls"
    admin-ws-strip:
      stripPrefix:
        prefixes:
          - /admin
    admin-api-strip:
      stripPrefix:
        prefixes:
          - /admin/api

  serversTransports:
    cp-mtls:
      serverName: localhost
      rootCAs:
        - /tls/ca/ca.crt
      certificates:
        - certFile: /tls/client/client.crt
          keyFile: /tls/client/client.key

tls:
  certificates:
    - certFile: /certs/cp.localhost.crt
      keyFile: /certs/cp.localhost.key
    - certFile: /certs/cp-jwks.localhost.crt
      keyFile: /certs/cp-jwks.localhost.key
    - certFile: /certs/wl-importer.localhost.crt
      keyFile: /certs/wl-importer.localhost.key
    - certFile: /certs/wl-exporter.localhost.crt
      keyFile: /certs/wl-exporter.localhost.key
